<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>OWL2L</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
.additional {
    display: none;
}
</style>
</head>

<body>
<h2 class="text-center">Welcome to OWL2TL</h2>
<br><br>
<div class="container">
    <form class="form-horizontal" action="." method="post">
        <div class="form-group">
            <label for="inputURL" class="col-sm-4 control-label">URL for Ontology</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputURL" name="url">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDef" class="col-sm-4 control-label">(Optional) URL for Annotation (e.g. IAO Definition)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputDef" name="uri0">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('inputDef', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
        </div>
        <div class="col-sm-offset-5" id="showmore">
            <button class="btn btn-sm" type="button" onclick="showMore()">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> More Columns
            </button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc1" name="uri1">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc1', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc2" name="uri2">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc2', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc2', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc3" name="uri3">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc3', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc3', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc4" name="uri4">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc4', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc4', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="submit" class="btn btn-lg btn-block btn-success">Generate Termlist</button>
            </div>
        </div>
    </form>
    <div class="examples row">
        <div class="col-xs-6">
            <h2>How To Use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum elit eu nisl dapibus, vitae commodo justo feugiat. Suspendisse leo orci, facilisis vel pellentesque ac, interdum vitae nibh. Nunc suscipit faucibus eros, ut porta turpis varius quis. Curabitur eu eros quam. Integer vel consectetur tortor. Etiam consectetur elit arcu, consectetur vehicula ipsum fermentum in. Integer ullamcorper purus ac neque suscipit convallis. Proin vestibulum convallis faucibus. Quisque leo sapien, molestie ut augue non, bibendum tincidunt turpis. Praesent rutrum interdum aliquet. Integer in elit nec quam porttitor placerat.</p>
        </div>
        <div class="col-xs-6">
            <h2>Examples</h2>
            <ul>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="OOSTT()">OOSTT</button>
                    Ontology of Organizational Structures of Trauma centers and Trauma systems with custom user centered definition class.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="PO()">PO</button>
                    Plant Ontology with IAO definitions.
                </li>
            </ul>
        </div>
    </div>
</div>
<footer style="height:100px;bottom:0;position:absolute">
    <div class="container row">
        <div class="col-md-4">
            <img style="height:25px;margin-bottom:10px" src="UAMS_CMYK.png">
            <p class="text-muted">Department of Biomedical Informatics</p>
            <p class="text-muted">John Judkins and Joseph Utecht (2016)</p>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <p class="text-muted">This research is supported by the National Institute of General Medical Sciences of the National Institutes of Health under award number <strong>1R01GM111324</strong></p>
        </div>
    </div>
</footer>
<script>
function showMore(){
    for(element of document.getElementsByClassName("additional")){
        element.style.display = "block";
    }
    document.getElementById("showmore").style.display = "none";
}
function rdfComment(id){
    document.getElementById(id).value = "http://www.w3.org/2000/01/rdf-schema#comment";
}
function rdfLabel(id){
    document.getElementById(id).value = "http://www.w3.org/2000/01/rdf-schema#label";
}
function insertURI(id, uri){
    document.getElementById(id).value = uri;
}
function PO(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/po.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115');
}
function OOSTT(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/oostt.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/OOSTT_00000030');
}
</script>
</body>
</html>
