<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>OWL2TL</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81854009-1', 'auto');
  ga('send', 'pageview');

</script>
<style>
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 110px;
}

.footer {
     height:100px;
     bottom:0;
     position:absolute;
}

.additional {
    display: none;
}
</style>
</head>
<body>
<h2 class="text-center">Welcome to OWL2TL</h2>
<br><br>
<div class="container">
    <form class="form-horizontal" action="." method="post">
        <div class="form-group">
            <label for="inputURL" class="col-sm-4 control-label">URL for Ontology</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputURL" name="url">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDef" class="col-sm-4 control-label">(Optional) URL for Annotation (e.g. IAO Definition)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputDef" name="uri0">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('inputDef', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000118')">IAO Alternative Term</button>
        </div>
        <div class="col-sm-offset-5" id="showmore">
            <button class="btn btn-sm" type="button" onclick="showMore()">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> More Columns
            </button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc1" name="uri1">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc1', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000118')">IAO Alternative Term</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc2" name="uri2">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc2', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc2', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc2', 'http://purl.obolibrary.org/obo/IAO_0000118')">IAO Alternative Term</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc3" name="uri3">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc3', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc3', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc3', 'http://purl.obolibrary.org/obo/IAO_0000118')">IAO Alternative Term</button>
        </div>
        <div class="form-group additional">
            <label for="inputDesc" class="col-sm-4 control-label">(Optional) URL for Additional Annotation Property</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="desc4" name="uri4">
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-8 additional" style="margin-bottom:15px">
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc4', 'http://www.w3.org/2000/01/rdf-schema#comment')">rdf:comment</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc4', 'http://purl.obolibrary.org/obo/IAO_0000115')">IAO Definition</button>
            <button class="btn btn-xs btn-default" type="button"
                onclick="insertURI('desc4', 'http://purl.obolibrary.org/obo/IAO_0000118')">IAO Alternative Term</button>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="submit" class="btn btn-lg btn-block btn-success">Generate Termlist</button>
            </div>
        </div>
    </form>
    <div class="examples row">
        <div class="col-xs-6">
            <h3>How To Use</h3>
            <p>This tool is designed to produce term lists for ontologies that are easily accessable and always up to date.  It will download the request OWL file and run a SPARQL query over it to find all OWL classes and then look up whatever predicates the additional fields contain.<p>
            <p>The first field must be a URL pointing directly to the OWL file you wish to generate terms for.  The additional fields are all optional and can contain URIs you wish to display the annotations for said classes.</p>
            <p>There are examples to the right that show a few common ontologies and how they can be displayed in this tool.</p>
            <p>The URL this site will produce is static for any input and thus can be shared with anyone and will link directly to the term list.  Results are cached for a week before the OWL file will be downloaded again, however there is a buton on the results page to force a refresh if the OWL file has changed since it was last downloaded.</p>
            <p>The source for this website is avaliable on <a href="https://github.com/utecht/owl2tl">Github</a>.</p>

        </div>
        <div class="col-xs-6">
            <h3>Examples</h3>
            <ul>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="OOSTT()">OOSTT</button>
                    Ontology of Organizational Structures of Trauma centers and Trauma systems with custom user centered definition class.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="PO()">PO</button>
                    Plant Ontology with IAO definitions.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="BFO()">BFO</button>
                    The Basic Formal Ontology with elucidations and examples of use.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="OBI()">OBI</button>
                    The Ontology of Biomedical Investigation with definitions and alternative terms.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="SYMP()">SYMP</button>
                    The Symptom Ontology with definitions.
                </li>
                <li>
                    <button class="btn btn-xs btn-default" type="button" onclick="OVAE()">OVAE</button>
                    The Ontology of Vaccine Adverse Events with examples, alternative terms, definition sources, and import information.
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container row">
        <div class="col-md-4">
            <img style="height:25px;margin-bottom:10px" src="https://cafe-trauma.com/UAMS_CMYK.png">
            <p class="text-muted">Department of Biomedical Informatics</p>
            <p class="text-muted">John Judkins and <a href="mailto:jrutecht@uams.edu">Joseph Utecht</a> (2016)</p>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <p class="text-muted">This research is supported by the National Institute of General Medical Sciences of the National Institutes of Health under award number <strong>1R01GM111324</strong></p>
        </div>
    </div>
</footer>
<script>
function showMore(){
    var additional = document.getElementsByClassName("additional");
    Array.prototype.filter.call(additional, function(element){
        element.style.display = "block";
    });
    document.getElementById("showmore").style.display = "none";
}
function insertURI(id, uri){
    document.getElementById(id).value = uri;
}
function PO(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/po.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115');
    insertURI('desc1', '');
    insertURI('desc2', '');
    insertURI('desc3', '');
    insertURI('desc4', '');
}
function OOSTT(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/oostt.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115');
    showMore();
    insertURI('desc1', 'http://purl.obolibrary.org/obo/OOSTT_00000030');
    insertURI('desc2', '');
    insertURI('desc3', '');
    insertURI('desc4', '');
}
function BFO(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/bfo.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000600');
    showMore();
    insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000112');
    insertURI('desc2', '');
    insertURI('desc3', '');
    insertURI('desc4', '');
}
function OBI(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/obi.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115');
    showMore();
    insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000118');
    insertURI('desc2', '');
    insertURI('desc3', '');
    insertURI('desc4', '');
}
function SYMP(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/symp.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000115');
    insertURI('desc1', '');
    insertURI('desc2', '');
    insertURI('desc3', '');
    insertURI('desc4', '');
}
function OVAE(){
    insertURI('inputURL', 'http://purl.obolibrary.org/obo/ovae.owl');
    insertURI('inputDef', 'http://purl.obolibrary.org/obo/IAO_0000112');
    showMore();
    insertURI('desc1', 'http://purl.obolibrary.org/obo/IAO_0000118');
    insertURI('desc2', 'http://purl.obolibrary.org/obo/IAO_0000119');
    insertURI('desc3', 'http://purl.obolibrary.org/obo/IAO_0000412');
    insertURI('desc4', '');
}
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
