<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>OWL2L</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<h2><p class="text-center">Welcome to OWL2TL</p></h2>
<h5><p class="text-center">This project is funded by the National Institute of General Medical Sciences of the National Institutes of Health under award number 1R01GM111324.
</p></h5>
<br><br>
<form class="form-horizontal" action="." method="post">
    <div class="form-group">
        <label for="inputURL" class="col-sm-2 control-label">URL for Ontology</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputURL" name="url">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDef" class="col-sm-2 control-label">(Optional) URL for Definition</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDef" name="object0">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDesc" class="col-sm-2 control-label">(Optional) URL for Additional Annotation Property</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDesc" name="object1">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
</body>
</html>
