<div style="float:right">
    <p><a href="{{results.sha}}/json">Download as JSON</a></p>
    <p><a href="{{results.sha}}/csv">Download as CSV</a></p>
</div>
<h3>Term list provided by <a href="">OWL2TL</a></h3>
<small>If terms or annotations are missing or this appears out of date try a <a href="{{results.sha}}/refresh">refresh</a> of the OWL file.</small>
<h3>Term list for all classes in <a href="{{results.owl_file}}"><strong>{{results.name}}</strong></a></h3>
<table id="wordlistTable" class="table">
    <thead>
    <tr><td><b>Term</b></td>
        {% if results.uri %}
        <td><b>URI</b></td>
        {% endif %}
        {% for label in results.labels %}
        <td><b>{{label | title}}</b></td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {%for result in results.results%}
        <tr>
            <td>{{result.term}}</td>
            {% if results.uri %}
            <td>{{result.uri}}</td>
            {% endif %}
            {% for label in results.labels %}
                {% if result.get(label) %}
                    <td>{{result.get(label)}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {%endfor%}
    </tbody>
</table>
